<footer>
    <div class="container1">
        <div class="footer__content">
            <div class="footer__left">
                <div class="footer__title">
                    <div class="header__title">Przykładowy portal informacyjny</div>
                </div>
                <div class="footer__text">
                    Szablon strony internetowej zrealizowanej na potrzeby zajęć z
                    przedmiotu "Wybrane Środowiska Programowania" w ramach
                    studiów na kierunku Informatyka w Społecznej Akademii Nauk w
                    Łodzi. Szablon prezentuje podstawowe zagadnienia z zakresu HTML
                    oraz CSS.
                </div>
            </div>
            <div class="footer__right">
                <div style="font-weight: 600">Stack technologiczny:</div>
                <div class="footer__text">
                    Wykorzystane języki programowania: HTML + CSS
                </div>
            </div>
        </div>
        <div class="footer__divider"></div>
        <div class="footer__down">
            Projekt i realizacja: student Bartashchuk Vadym © 2025 Społeczna
            Akademia Nauk w Łodzi. 124402@student.san.edu.pl
        </div>
    </div>
</footer>
