
    <div class="header">
        <div class="left-section">Portal informacyjny</div>
        <div class="middle-section">
            <input class="search-bar" type="text" placeholder="Search">
        </div>
        <div class="right-section">Bartashchuk Vadym (album: 124402)</div>
    </div>

